<p>
  {{user.username}}
</p>

<ul>
  <li *ngFor="let stat of user.character_settings">{{stat}} <button (click)="removeSetting(stat)">X</button></li>
  <li>
    <input [(ngModel)]="newSetting" placeholder="Add Character Stat" (keyup.enter)="addSetting()">
  </li>
</ul>

<ul>
  <li *ngFor="let char of user.characters">
    <p>{{char.name}} {{char.player_name}} {{char.initiative}}</p>
    <ul>
      <li>Health {{char.health}}</li>
      <li>Defense {{char.defense}}</li>
    </ul>
  </li>
</ul>

<button [routerLink]="['/']">Initiative</button>