
:host {
    display: block;
    width: 100%;
}

.card {
    min-width: 320px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.card-header{
    display: inline-flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.card-initiative{
    height: 2em;
    background: transparent;
}

.new-roll{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.dice-rolls-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dice-rolls-row h5 p{
    display: inline-block;
}

li {
    margin-top: 5px;
}

.number {
    width: 3em;
}

.stat, .character-name {
    font-weight: bold;
}
