.card {
    min-width: 320px;
    width: 60vw;
    /* display: inline-flex; */
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 5px, 0px;
}

.card-header{
    display: inline-flex;
    justify-content: space-between;
}

.card-link{
    display: block;
    text-align: right;
    padding-right: 1.25rem;
}

.dice-rolls-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dice-rolls-row h5 p{
    display: inline-block;
}

li {
    margin-top: 5px;
}