
:host {
    display: block;
    width: 100%;
}
.handle{
    width: 30px;
    border: 1px solid rgba(0,0,0,.05);
    background-color: rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder; 
}

.card-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card {
    width:100%;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.card-header{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header-title{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.card-footer > button {
    margin-left: 7px;
}

.card-initiative{
    height: 2em;
    background: transparent;
}

.new-roll{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.dice-rolls-row{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.dice-rolls-container{
    display: flex;
    flex-direction: column;
}
.roll-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gap-left {
    margin-left: 2.5px;
}
.gap-right {
    margin-right: 2.5px;
}

li {
    margin-top: 5px;
}

.number {
    width: 3em;
}

.stat, .character-name {
    font-weight: bold;
}

h4 {
    word-break: break-word;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

center {
    text-align: center;
}

@media (max-width: 575.98px) {
    .card{
        /* width: 100%; */
        flex: 1 0 auto;
    }
}