<!-- <section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list" dnd-sortable-container [sortableData]="todos">
      <li class="todo-item" *ngFor="let todo of todos, let i = index;" [class.completed]="todo.complete" dnd-sortable [sortableIndex]="i" [dragData]="todo" (onDropSuccess)="onMove($event, i)">
        <div class="view">
          <span dnd-sortable-handle class="handle">=</span>
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)">X</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count">
      <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section> -->
<div>
  what
</div>