
.input-group{
    flex-wrap: nowrap;
}

.optionals-input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.optionals{
    margin: 0px;
}

.collapsing{
    width:100%;
    display: flex;
    flex-wrap: inherit;
}

.show{
    width:100%;
    display: flex;
    flex-wrap: inherit;
}


.row{
    margin-top:5px;
}

.new-character {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 267px;
}

.stat{
    min-width: 100px;
    width: 100%;
}

ul{
    width: 100%;
    padding-left: 0px;
}

li {
    display: flex;
    width: 100%;
    margin: 5px 0px;
}

.initiative {
    min-height: 50px;
}

@media (max-width: 575.98px) {
    .character {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
}