
.input-group{
    flex-wrap: nowrap;
}

.optionals-input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.optionals{
    margin: 0px;
}

.collapsing{
    width:100%;
    display: flex;
    flex-wrap: inherit;
}

.show{
    width:100%;
    display: flex;
    flex-wrap: inherit;
}

.row{
    margin-top:5px;
}

.new-character {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 267px;
}

.stat{
    min-width: 100px;
    width: 100%;
}

ul{
    width: 100%;
    padding-left: 0px;
}

li {
    display: flex;
    width: 100%;
    margin: 5px 0px;
}

.initiative {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cur_turn {
    -webkit-box-shadow:0 0 25px blue; 
    -moz-box-shadow: 0 0 25px blue; 
    box-shadow:0 0 25px blue;
    border-radius: .25rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%
}

.square {
    border-radius: 0px;
}

@media (max-width: 575.98px) {
    .character {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    li{
        margin: 0px;
        padding: 0px;
    }

    .initiative-container {
        padding: 0px;
    }
}