<!-- <section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    </header>
    <section class="main" *ngIf="todos.length > 0">
      <ul class="todo-list" dnd-sortable-container [sortableData]="todos">
        <li class="todo-item" *ngFor="let todo of todos, let i = index;" [class.completed]="todo.complete" dnd-sortable [sortableIndex]="i" [dragData]="todo" (onDropSuccess)="onMove($event, i)">
          <div class="view">
            <span dnd-sortable-handle class="handle">=</span>
            <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
            <label>{{todo.title}}</label>
            <button class="destroy" (click)="removeTodo(todo)">X</button>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="todos.length > 0">
      <span class="todo-count">
        <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
  </section> -->

<h1>Initiative</h1>
<section class="main">
  <header class="header">
    <input class="new-character" placeholder="Add character to initiative" autofocus="" [(ngModel)]="newCharacter.name" (keyup.enter)="addCharacter()">
  </header>

  <section class="main" *ngIf="characters.length > 0">

    <!-- list of characters in this initiative -->
    <ul class="initiative" dnd-sortable-container [sortableData]="characters">
      <li class="character" *ngFor="let character of characters, let i = index" dnd-sortable [sortableIndex]="i" [dragData]="character"
        (onDropSuccess)="onMove($event, i)">
        <!-- character panel (probably should be a child component) -->
        <div class="view">
          <!-- drag and drop handle -->
          <span dnd-sortable-handle class="handle">=</span>

          <!-- Character Details Panel -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <label>{{character.name}}</label>
              <label *ngIf="character.player_name">{{character.player_name}}</label>
            </mat-expansion-panel-header>
            <!-- <select class="character-type" value="Player Character">
              <option>Player Character</option>
            </select> -->
            <button class="destroy" (click)="removeCharacter(character)">X</button>
          </mat-expansion-panel>

        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="characters.length > 0">
    <span class="character-count">
      <strong>{{characters.length}}</strong> {{characters.length === 1 ? 'character' : 'characters'}}
    </span>
  </footer>
</section>